<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WCF_HOST_NET_HTTP" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/" binding="wsDualHttpBinding"
        bindingConfiguration="WCF_HOST_NET_HTTP" contract="ServiceReference1.IGetAudioWCF"
        name="WCF_HOST_NET_HTTP">
        <identity>
          <userPrincipalName value="a.petrenko@IAT" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>